# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
gradle*
# Java
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war

# Logs
*.log

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db
